    <!-- Container Ends Here-->
    </div>
    <script src="/js/workingHours.js"></script>
    <script src="/js/simpleScripts.js"></script>
    <script src="/js/animations.js"></script>
    <script src="/js/decideAnswer.js"></script>
    <script src="/js/dragAndDrop.js"></script>
    </body>
</html>