<div class="content">
    <div class="tutorial-area">
        <%- include("firstStageSectionIncludes/firstStageTitle.ejs"); -%>
        <%- include("stages.ejs"); -%>
        <%- include("firstStageSectionIncludes/firstStageContent.ejs"); -%>
    </div>
</div>