<div class="content-404">
    <h1 class="text-404">404</h1>
    <span class="text2-404">
        Opps, the page you're looking for is not found...
        <br>
        ...
        <br>
        Opps, baktığınız sayfa bulunamadı...
    </span>
</div>