/* Common codes Starts here */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container,
.nav,
.navbar-buttons,
.library-time,
.library-info {
  display: flex;
  align-items: center;
}

.container {
  flex-direction: column;
}

.footer-nav,
.footer-add,
.footer-out {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 350px 50px 350px !important;
}

.footer-nav-title,
.footer-nav-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0 10px 0;
}

.footer-out div:nth-child(odd),
.footer-out div:nth-child(even),
.social-media {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.line {
  border-top: 2px solid rgb(219, 24, 24);
}
/* Common codes ends here */
/* --- */
/* Navbar starts here */
.nav {
  width: 100%;
  height: 100px;
  padding: 0 350px 0 350px;
  background-color: #fff;
  justify-content: space-between !important;
  box-shadow: 0px 4px 5px #eae5e5;
  z-index: 10;
  font-size: 15px;
  font-weight: 300;
}

.library-time {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}

.date-time-font {
  color: rgb(114, 114, 114);
  padding-right: 5px;
}

.date-time-line {
  width: 40px;
  height: 100px;
  border-left: 3px solid rgb(219, 24, 24);
  -webkit-transform: translateY(-5px) translateX(20px) rotate(20deg);
}

.library-info {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.library-name > span {
  font-weight: bolder;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
}

.logo > img {
  width: 200px;
  height: 50px;
}

.navbar-buttons {
  width: 40%;
  display: flex;
  justify-content: flex-end !important;
}

.lang-btn,
.login-btn,
.hamburger-menu {
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #000000;
  font-size: 15px;
  background: #ecf0f0;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.lang-btn:hover {
  background: #ccd6db;
  background-image: -webkit-linear-gradient(top, #ccd6db, #c7d5dd);
  background-image: -moz-linear-gradient(top, #ccd6db, #c7d5dd);
  background-image: -ms-linear-gradient(top, #ccd6db, #c7d5dd);
  background-image: -o-linear-gradient(top, #ccd6db, #c7d5dd);
  background-image: linear-gradient(to bottom, #ccd6db, #c7d5dd);
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.login-btn {
  background-color: #ffffff;
}

.login-btn a {
  color: #000000;
  font-size: 20px !important;
}

.hamburger-menu {
  background-color: rgb(233, 232, 231);
  font-size: 20px !important;
}
/* Navbar ends here */
/* --- */
/* Content starts here */
.content {
  display: flex;
  background-color: rgb(250, 250, 250);
  width: 100%;
  min-height: 850px;
  padding: 20px 350px 10px 350px;
}

.tutorial-area,
.tutorial-content {
  display: flex;
  flex-direction: column;
}

.tutorial-area {
  width: 100%;
  color: #000000;
  grid-gap: 10px;
}

.tutorial-title {
  font-size: 2.2rem;
  font-weight: 400;
  padding: 20px 0 20px 0;
}

.tutorial-title-line {
  width: 80px;
  border: 1.5px solid rgb(219, 24, 24);
  -webkit-transform: translateY(18px) translateX(-25px) rotate(110deg);
}

.tutorial-title > span {
  margin-left: 30px;
}

.tutorial-stages {
  display: flex;
  width: auto;
  height: auto;
}

.tutorial-stages a {
  text-decoration: none;
  padding-right: 5px;
}
.tutorial-stages a button {
  display: flex;
  align-items: center;
  padding-left: 5px;
  width: 140px;
  height: 40px;
  background-color: rgb(88, 85, 85);
  color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.tutorial-stages a button:hover,
.animation-info button:hover,
.start-tests:hover {
  background-color: rgb(51, 50, 50);
}

.tutorial-stages button > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: rgb(219, 24, 24);
  font-size: 20px;
}

.tutorial-stages button > span {
  padding-left: 5px;
}

.tutorial-content {
  padding-top: 10px;
  grid-gap: 20px;
  font-weight: 300;
  line-height: 25px;
}

.tutorial-content ul {
  list-style: none;
  padding-left: 50px;
}

.tutorial-content ul li::before {
  content: "\2022";
  color: rgb(219, 24, 24);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.animation-box-line {
  width: 280px;
  border: 1.5px solid rgb(219, 24, 24);
  -webkit-transform: translateY(0) translateX(-90px) rotate(110deg);
}

.animation-info button,
.start-tests {
  padding: 10px;
  background-color: rgb(88, 85, 85);
  color: white;
  text-decoration: none;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.start-tests {
  border-radius: 10px;
}

.animation-description {
  display: flex;
  align-items: center !important;
  width: 100%;
  height: auto;
}

.code-box {
  display: flex;
  grid-gap: 30px;
  width: 50%;
  flex: 1;
}

.description-box {
  width: 50%;
  min-height: 250px;
  flex: 1;
}
/* Content ends here */
/* --- */
/* Footers starts here */
.footer {
  width: 100%;
  height: auto;
  color: white;
  font-size: 12px;
}
.footer-nav {
  width: 100%;
  background-color: #4c4c4c;
}

.footer-nav-section {
  width: 20%;
  height: 320px;
}

.footer-nav-title {
  border-bottom: 2px solid rgb(146, 146, 146);
}

.footer-nav-content {
  grid-gap: 10px;
}

.footer-nav-content a {
  color: rgb(56, 162, 211);
  text-decoration: none;
}

.footer-nav-content a:hover {
  color: rgb(55, 132, 168);
  text-decoration: underline;
}

.footer-add {
  color: white;
  background-color: #363739;
  width: 100%;
  height: auto;
  font-size: 13px;
}

.address-bar {
  width: 20%;
  text-align: center;
}

.address-bar > a {
  text-decoration: none;
  color: white;
}

.address-bar a div {
  display: grid;
  justify-items: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.address-bar a div i {
  font-size: 1.5rem;
  color: #da4f45;
  margin-bottom: 1rem;
}

.address-bar a div > span {
  font-weight: 500;
}

.address-bar a > span {
  font-size: 14px;
  line-height: 1.2rem;
  font-weight: 300;
}

.library-mail {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
}

.social-media {
  display: flex !important;
  margin-top: 20px;
}

.social-media > a > i {
  color: white;
  font-size: 2rem;
  padding: 5px;
}

.footer-out {
  color: white;
  background-color: none;
  width: 100%;
  height: auto;
}

.footer-out div:nth-child(odd) {
  width: 40%;
  display: flex;
  justify-content: center;
}

.footer-out div:nth-child(even) {
  width: 20%;
  display: flex;
  justify-content: center;
}

.footer-out-logo {
  width: 200px;
  height: 50px;
}

.footer-out a {
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}

.footer-out a:hover {
  text-decoration: underline;
}
/* Footers ends here */
