<div class="tutorial-content">
    <h4>
        Proceed through the following pages of Library of Congress tests. Each page will increase in difficulty, as
        well as help you get a better grasp of the Library of Congress rules. Best viewed on desktop browser.
    </h4>
    <span>
        Each question below has two books on the bookshelf. Click on the book that should come first. Your answer
        isn't locked in - you can click on the other book to get helpful tips.
    </span>
    <span>
        <span style="font-weight: 700; color: maroon;">Note:</span> Given Call Numbers defined randomly, they do not
        match with the exact book names of our collection in Istanbul Bilgi University's Library.
    </span>
    <div class="questions-stage1">
        <div class="question-number">1)</div>
        <div class="question-content">
            <div class="question-stage1-content">
                <div class="books">
                    <div class="book first-book-color">
                        <div class="book-name"> <span>Harry Potter</span> </div>
                        <div class="lc-code-test">
                            <h3> RA<br>518<br>.S43<br>B21 </h3>
                        </div>
                    </div>
                    <div class="book second-book-color">
                        <div class="book-name"> <span>The Lord Of The Rings</span> </div>
                        <div class="lc-code-test">
                            <h3> RA<br>518<br>.S43A6 </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span id="result-0"></span>
            </div>
        </div>
    </div>
    <div class="questions-stage1">
        <div class="question-number">2)</div>
        <div class="question-content">
            <div class="question-stage1-content">
                <div class="books">
                    <div class="book first-book-color">
                        <div class="book-name"> <span>MMPI</span> </div>
                        <div class="lc-code-test">
                            <h3> LB<br>7968<br>.M3 </h3>
                        </div>
                    </div>
                    <div class="book second-book-color">
                        <div class="book-name"> <span>War & Peace</span> </div>
                        <div class="lc-code-test">
                            <h3> LB<br>7968<br>.M263 </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span id="result-1"></span>
            </div>
        </div>
    </div>
    <div class="questions-stage1">
        <div class="question-number">3)</div>
        <div class="question-content">
            <div class="question-stage1-content">
                <div class="books">
                    <div class="book first-book-color">
                        <div class="book-name"> <span>Twlight</span> </div>
                        <div class="lc-code-test">
                            <h3> LC<br>346<br>.M634 </h3>
                        </div>
                    </div>
                    <div class="book second-book-color">
                        <div class="book-name"> <span>Social Physology</span> </div>
                        <div class="lc-code-test">
                            <h3> LC<br>346<br>.65<br>.B29 </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span id="result-2"></span>
            </div>
        </div>
    </div>
    <div class="questions-stage1">
        <div class="question-number">4)</div>
        <div class="question-content">
            <div class="question-stage1-content">
                <div class="books">
                    <div class="book first-book-color">
                        <div class="book-name"> <span>Slavery in Ottoman Empire</span> </div>
                        <div class="lc-code-test">
                            <h3> ND<br>473<br>.D3<br>1956 </h3>
                        </div>
                    </div>
                    <div class="book second-book-color">
                        <div class="book-name"> <span>Romeo & Juliet</span> </div>
                        <div class="lc-code-test">
                            <h3> NK<br>473<br>.D3<br>Copy 2 </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result"> <span id="result-3"></span> </div>
        </div>
    </div>
    <div class="questions-stage1">
        <div class="question-number">5)</div>
        <div class="question-content">
            <div class="question-stage1-content">
                <div class="books">
                    <div class="book first-book-color">
                        <div class="book-name"> <span>Veronica Want to Die</span> </div>
                        <div class="lc-code-test">
                            <h3> CD<br>562<br>.A961 </h3>
                        </div>
                    </div>
                    <div class="book second-book-color">
                        <div class="book-name"> <span>The Great Speech of Atatürk</span> </div>
                        <div class="lc-code-test">
                            <h3> CD<br>562<br>.A96 </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span id="result-4"></span>
            </div>
        </div>
    </div>
    <div class="questions-stage1">
        <div class="question-number">6)</div>
        <div class="question-content">
            <div class="question-stage1-content">
                <div class="books">
                    <div class="book first-book-color">
                        <div class="book-name"> <span>Saklambaç</span> </div>
                        <div class="lc-code-test">
                            <h3> DD<br>236<br>.A65 </h3>
                        </div>
                    </div>
                    <div class="book second-book-color">
                        <div class="book-name"> <span>The History of Hiphop</span> </div>
                        <div class="lc-code-test">
                            <h3> DB<br>236<br>.B3 </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span id="result-5"></span>
            </div>
        </div>
    </div>
    <div class="questions-stage1">
        <div class="question-number">7)</div>
        <div class="question-content">
            <div class="question-stage1-content">
                <div class="books">
                    <div class="book first-book-color">
                        <div class="book-name"> <span>Bozkurtlar</span> </div>
                        <div class="lc-code-test">
                            <h3> DA<br>467<br>.K3 </h3>
                        </div>
                    </div>
                    <div class="book second-book-color">
                        <div class="book-name"> <span>Clean Code</span> </div>
                        <div class="lc-code-test">
                            <h3> DA<br>674<br>.K34 </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span id="result-6"></span>
            </div>
        </div>
    </div>
    <div class="questions-stage1">
        <div class="question-number">8)</div>
        <div class="question-content">
            <div class="question-stage1-content">
                <div class="books">
                    <div class="book first-book-color">
                        <div class="book-name"> <span>Design Patterns</span> </div>
                        <div class="lc-code-test">
                            <h3> HV<br>754<br>.C7723 </h3>
                        </div>
                    </div>
                    <div class="book second-book-color">
                        <div class="book-name"> <span>Calculus</span> </div>
                        <div class="lc-code-test">
                            <h3> HX<br>754<br>.C15 </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span id="result-7"></span>
            </div>
        </div>
    </div>
    <div class="questions-stage1">
        <div class="question-number">9)</div>
        <div class="question-content">
            <div class="question-stage1-content">
                <div class="books">
                    <div class="book first-book-color">
                        <div class="book-name"> <span>Physics 1</span> </div>
                        <div class="lc-code-test">
                            <h3> PR<br>143<br>.S41 </h3>
                        </div>
                    </div>
                    <div class="book second-book-color">
                        <div class="book-name"> <span>Deadpool</span> </div>
                        <div class="lc-code-test">
                            <h3> PT<br>1421<br>.B5 </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span id="result-8"></span>
            </div>
        </div>
    </div>
    <div class="questions-stage1">
        <div class="question-number">10)</div>
        <div class="question-content">
            <div class="question-stage1-content">
                <div class="books">
                    <div class="book first-book-color">
                        <div class="book-name"> <span>Uykusuz</span> </div>
                        <div class="lc-code-test">
                            <h3> JK<br>1978<br>.K413<br>1722 </h3>
                        </div>
                    </div>
                    <div class="book second-book-color">
                        <div class="book-name"> <span>Kafa</span> </div>
                        <div class="lc-code-test">
                            <h3> JK<br>1978<br>.1789<br>.L34Z5 </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span id="result-9"></span>
            </div>
        </div>
    </div>
</div>