<div class="content">
    <div class="tutorial-area">
        <%- include("secondStageSectionIncludes/secondStageTitle.ejs"); -%>
        <%- include("stages.ejs"); -%>
        <%- include("secondStageSectionIncludes/secondStageContent.ejs"); -%>
    </div>
</div>