<div class="content">
    <div class="tutorial-area">
        <%- include("thirdStageSectionIncludes/thirdStageTitle.ejs"); -%>
        <%- include("stages.ejs"); -%>
        <%- include("thirdStageSectionIncludes/thirdStageContent.ejs"); -%>
    </div>
</div>