<div class="content">
    <div class="tutorial-area">
        <%- include("tutorialSectionIncludes/tutorialTitle.ejs"); -%>
        <%- include("stages.ejs"); -%>
        <%- include("tutorialSectionIncludes/tutorialContent.ejs"); -%>
    </div>
</div>